#basket
  .item_count
    = pluralize current_basket.count, 'item'

- @items.each do |item|
  .item
    .name
      = link_to item.name, item
    .price
      £
      =  item.price
    .description
      = item.description